* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	position: fixed;
	height: 2.5rem;
	width: 100%;
    background-color: #333333;
	left: 0;
	top: 0;
}
nav {
	z-index: 9999;
	line-height: 2.5rem;
	width: 100%;
}
header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
header li:first-child {
	flex-grow: 1;
	text-align: left;
	padding-left: 1rem;
}
header li:last-child {
	flex-grow: 1;
	text-align: right;
	padding-right: 1rem;
}
header a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}
.TTT {
	margin-top: 2.7rem;
	margin-left: 0.5%;
	margin-right: 0.5%;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
input[type="checkbox"] {
	margin: 0;
	padding: 0;
	background-color: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.game input[type="checkbox"]:focus ~ .board,
.block input[type="checkbox"]:focus ~ div,
.game input[type="button"]:focus {
	box-shadow: 0 0 5px #51cbee;
	outline: 3px solid #51cbee;
}
.board {
	width: 15rem;
	height: 15rem;
	margin: 0.5rem;
	border-collapse: collapse;
}
.finish {
	pointer-events: none;
}
.result {
	text-align: center;
	margin: 0.5rem;
	font: 1.2rem 'Cinzel Decorative', cursive;
}
.result h2 {
	line-height: 2rem;
}
.result input {
	width: 7rem;
	font-size: 1rem;
	background-color: #333333;
    color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    padding: 0.4rem 0.4rem;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}
.result input:hover {
	background: linear-gradient(to bottom, #4c4c4c 5%, #191919 100%);
    background-color: #8f8f8f;
}
.hidden-sec {
	display: none;
}
.block {
	border: 0.5rem solid black;
	cursor: pointer;
	position: relative;
}
.block div {
	margin-top: -1.2rem;
	width: 4.65rem;
	height: 4.65rem;
}
.top-left {
	border-left-style: none;
	border-top-style: none;
}
.top {
	border-top-style: none;
}
.top-right {
	border-top-style: none;
	border-right-style: none;
}
.left {
	border-left-style: none;
}
.right {
	border-right-style: none;
}
.bott-left {
	border-left-style: none;
	border-bottom-style: none;
}
.bott {
	border-bottom-style: none;
}
.bott-right {
	border-bottom-style: none;
	border-right-style: none;
}
svg {
	stroke: #a6a6a6;
	width: 74px;
	height: 74px;
}
.circle {
	stroke-width: 10;
	fill: transparent;
}
.cross {
	stroke-width: 20;
}